body{
    background:#fff;
    color: #151515;
    font-size: 14px;
    font-weight: 400;
    font-family: museoSans,sans-serif;
    display: block;
    text-align: center;
}
.ool ol{
    align-content: center;
    list-style: none;
}
li{
    text-align: center;
    list-style: none;
}
ul{
    list-style-type: disc;
}
